#imagechange {
  background-size: cover;
  background-attachment: fixed;
width:100%;
height:100%;
filter: blur(1.5rem);
}

.margintoppicture{margin-top:-150%;}
.imageCycle1 { background-image: url(https://mtg-proxy.netlify.app/1.jpg);}
.imageCycle2 { background-image: url(https://mtg-proxy.netlify.app/2.jpg);}
.imageCycle3 { background-image: url(https://mtg-proxy.netlify.app/3.jpg);}
.imageCycle4 { background-image: url(https://mtg-proxy.netlify.app/4.jpg);}
#presentation_magic {
  background-size: cover;
  background-attachment: fixed;

  background-image: url(https://mtg-proxy.netlify.app/presentation.jpg);
}

.masthead {
    padding: 3rem 0 7rem;
    position: relative;
    
  
    background-size: cover;
    z-index: 0
  }
  

  
  .masthead h1 {
    font-family: 'Montserrat', sans-serif;
   
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.1;
    z-index: 1
  }
  
  .masthead h2 {
    color: rgba(255, 255, 255, .6);
    font-weight: 600;
    z-index: 1;
    font-size: 1.2rem
  }
  
  
  
 
  
  @media(min-width:992px) {
    .masthead h1 {
        font-size: 3rem
    }
    .masthead h2 {
        font-size: 1.5rem
    }
  }
  
  .masthead .masthead-cards {
    position: relative;
    z-index: 1
  }
  
  .masthead .masthead-cards .shape {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, .3);
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%
  }
  
  .masthead .masthead-cards .card {
    opacity: 1;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .05rem;
    color: #212529;
    transition: .15s all
  }
  
  .masthead .masthead-cards .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem
  }
  
  .masthead .masthead-cards .card:active {
    margin-top: inherit;
    margin-bottom: inherit
  }
  
  .masthead .masthead-cards .card.border-bottom-blue:hover {
    color: #2092ed
  }
  
  .masthead .masthead-cards .card.border-bottom-green:hover {
    color: #28a745
  }
  
  .masthead .masthead-cards .card.border-bottom-red:hover {
    color: #dd3d31
  }
  
  .masthead .masthead-cards .card.border-bottom-yellow:hover {
    color: #ffc107
  }
  
  


/*----  Main Style  ----*/
#cards_landscape_wrap-2{
  text-align: center;
  background: #F7F7F7;
}
#cards_landscape_wrap-2 .container{
  padding-top: 80px; 
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}

