


@media screen and (max-width: 1280px)
{
    /* Rédigez vos propriétés CSS ici */

.slide-container {
    margin: auto;
    width: 100%;
    text-align: center;
}



.card {
    width: 320px;
    height: 450px;
   
    margin: 30px;
}
}